.detailbox {
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    margin-bottom: 15px;
    background-color: #EEE0C9;
    border-radius: 2px;
}

.detailbox h2 {
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.detailbox p {
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.detailbox img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.loading {
    color: #EEE0C9;
    font-family: 'Jacquard 24', system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}




@media (max-width: 768px) {

    .detailbox a {
        font-size: 16px;
    }
    
    .detailbox h2 {
        font-size: 19px;
    }
    
    .detailbox p {
        font-size: 15px;
    }
    

}