.loading {
    color: #EEE0C9;
    font-family: 'Jacquard 24', system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}

@media (max-width: 500px) {

    .loading {
        font-size: 50px;
    }

}