.commentbox hr {
    height: 2px;
    background-color:#786279;
    border: none;
}

.commentbox h4 {
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #786279;
}

.commentbox p {
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
}

.loading {
    color: #786279;
    font-family: 'Jacquard 24', system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

