.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #B0B0B0;
}

.title {
    margin-right: 60px;
    padding: 20px;
}

.logolink {
    font-family: 'Jacquard 24', system-ui;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    color: #252525;
}


@media (max-width: 700px) {

    .title {
        padding: 10px;
    }
    .logolink {
        font-size: 40px;
    }

}

@media (max-width: 500px) {

    .header {
        display: block;
    }

    .title {
        margin-right: 0px;
    }

    .logolink {
        font-size: 40px;
    }

}